# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\supreme_command\python_projects\portfolio_optimization_project_econ624\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
